<div class="buttons is-centered">
    <a class="button is-medium is-info is-rounded is-inverted is-outlined " href="/signup">
        <span class="icon has-text ">
            <i class="fas fa-arrow-circle-down"></i>
        </span>                     
      <span>SignUP</span>
    </a>


  <a class="button is-medium is-info is-rounded is-inverted is-outlined " href="/login">
            <span class="icon has-text">
                <i class="fas fa-sign-in"></i>
            </span>   
          <span>Login</span>
        </a>  

        </div>