<div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item  
            <% if (page_name === 'home') { %> 

              is-active
            <% } %>" href="/">

              Why Skyline
            </a>
            <a class="navbar-item   <% if (page_name === 'products') { %> 

              is-active
            <% } %>" href="/products">
              Products
            </a>
            <a class="navbar-item   <% if (page_name === 'industry') { %> 

              is-active
            <% } %>" href="/industry">
              Industry Solutions
            </a>
            <a class="navbar-item   <% if (page_name === 'resources') { %> 

              is-active
            <% } %>" href="/resources">
              Resources
            </a>
            <a class="navbar-item   <% if (page_name === 'about') { %> 

              is-active
            <% } %>" href="/about">
              About
            </a>  
            <a class="navbar-item   <% if (page_name === 'blog') { %> 

              is-active
            <% } %>" href="/blog">
              Blog
            </a>                                         
          </div>
        </div>
      </div>
    </nav>
  </div>