<!DOCTYPE html>
<html>
    <%- include ('./includes/header.ejs') -%> 
<body>
    <section class="hero is-primary is-medium">
        <!-- Hero head: will stick at the top -->
        
        <%- include ('./includes/main.ejs') -%> 
        <!-- Hero content: will be in the middle -->
        <div class="hero-body ">
          <div class="container has-text-centered">
            <h1 class="title">
            Skyline IoT Technologies
            </h1>
            <h2 class="subtitle">
              It's all about Innovation and Security
            </h2>
          </div>
    </div>

    <%- include ('./includes/buttons.ejs') -%> 
   
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">        
        </div>
      </section>
</body>

</html>