<!DOCTYPE html>
<html>
    <%- include ('./includes/header.ejs') -%>
    


    <section class="hero is-fullheight is-primary ">
    
    <body>
      
            <%- include ('./includes/main.ejs') -%> 
            <div class="hero-body has-text-centered ">
              <div class="login ">
                <img src="https://logoipsum.com/logo/logo-1.svg" width="325px" />
                <form>
                  <div class="field">
                    <div class="control">
                      <input class="input is-medium is-rounded" type="email" placeholder="hello@example.com" autocomplete="username" required />
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <input class="input is-medium is-rounded" type="password" placeholder="**********" autocomplete="current-password" required />
                    </div>
                  </div>
                  <br />
                  <button class="button is-block is-fullwidth is-info is-medium is-rounded " type="submit">
                    Login
                  </button>
                </form>
                <br>
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <a href="#">Forgot Password?</a>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <a href="#">Create an Account</a>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
         

    

       
        
    </body>
</section>
    <style>
        
          
          :root {
            --shadowDark: #D9DDE6;
            --background: #00D1B2;
            --shadowLight: #EFF5FE;
          }
          
          body {
            background: var(--background);
          }

         
          
          .hero-body {
            justify-content: center;
          }
          
          .login {
           
            padding: 1.5rem;
            background:#fdfdfd
          }
          
          input {
            background: var(--shadowDark) !important;
          }
          
        
    </style>
</html>










    </body>
</html>