<!DOCTYPE html>
<html>
    <%- include ('./includes/header.ejs') -%>
    
    <body>

        <section class="hero is-primary is-medium">
            <!-- Hero head: will stick at the top -->
            
            <%- include ('./includes/main.ejs') -%> 
            <!-- Hero content: will be in the middle -->
            <div class="hero-body ">
              <div class="container has-text-centered">
                <h1 class="title">
                Skyline IoT Technologies
                </h1>
                <h2 class="subtitle">
                 Our Platform and Products Line
                </h2>
              </div>
        </div>
        </section>
    </body>
</html>